.main-experts .main-title-second {
    display: block;
    width: 352px;
    height: 140px;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;

}

.main-experts .description-experts {
    display: block;
    width: 342px;
    height: 120px;
    font-size: 16px;
    font-weight: 400;
    line-height: 3px;
}