@keyframes services-animation1 {
  from {left: 50%;}
  to {left: 50%;}
}

@keyframes services-animation2 {
  from {left: 50%;}
  to {left: 0%;}
}

@keyframes services-animation3 {
  from {right: 50%;}
  to {right: 0%;}
}

@keyframes services-animation4 {
  from {right: 40%;}
  to {right: 20%;}
}

#animation1 {
  animation-timing-function: linear;
  animation: services-animation1 5s 1;
  position: absolute;
  animation-fill-mode: forwards;
}

#animation1 {
  animation-timing-function: linear;
  animation: services-animation2 5s 1;
  position: absolute;
  animation-fill-mode: forwards;
}

#animation1 {
  animation-timing-function: linear;
  animation: services-animation3 5s 1;
  position: absolute;
  animation-fill-mode: forwards;
}

#animation1 {
  animation-timing-function: linear;
  animation: services-animation4 5s 1;
  position: absolute;
  animation-fill-mode: forwards;
}

.description-content .description-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 25px;
  max-width: 244px;
  text-align: center;
  padding: 14px;
  box-sizing: border-box;
}

.services-options .description-content {
  display: flex;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  gap: 55px;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: center;
  padding-bottom: 80px;
  height: max-content;
}

.services-options .description-service:hover {
  outline: solid 1px #FF1448;
  
}

.description-service .main-title.-second {
  line-height: 68px;
}

.description-service .description-services {
  line-height: 26px;
}

.description-service .service-started {
  line-height: 42px;
  margin-top: 25px;
  padding: 0 20px 0 20px;
  border: solid 1px #FF1448;
  cursor: pointer;
}