.services-options {
  display: flex;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  height: 514px;
  align-items: center;
  gap: 55px;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: center;
  padding-bottom: 80px;
  height: max-content;
}

.services-options .description-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 25px;
  max-width: 244px;
  text-align: center;
  padding: 14px;
  box-sizing: border-box;

}

.services-options .description-service:hover {
  outline: solid 1px #FF1448;
}

.description-service .main-title.-second {
  line-height: 68px;
}

.description-service .description-services {
  line-height: 26px;
}

.description-service .service-started {
  line-height: 42px;
  margin-top: 25px;
  padding: 0 20px 0 20px;
  border: solid 1px #FF1448;
  cursor: pointer;
}