.main-banner {
    height: auto;
    margin-top: 27px;
}

.main-banner .wrapper {
    background: url(https://leandrojsilva1989.github.io/Site-de-Ioga/src/assets/images/Background-banner.png), url(https://leandrojsilva1989.github.io/Site-de-Ioga/src/assets/images/Exclude.png), url(https://leandrojsilva1989.github.io/Site-de-Ioga/src/assets/images/Exclude.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right, 13rem 10%, 0% 95%;
    display: flow-root;
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
   
 
}

.main-banner .new-search {
    display: flex;
    gap: 25px;
}

.main-banner .new-search input {
    border-radius: 8px;
    padding: 10px 15px;
    outline: 0;
    font-style: italic;
}

.main-banner .new-search .button-search:active {
    color: white;
    background-color: #FF1448;
}

.main-banner .new-search .button-search {
    align-items: center;
    border-radius: 8px ;
    border: none;
    color: #FF1448;
    background-color: rgba(255, 174, 192, 19%);
    width: 150px;
    height: 46px;
    cursor: pointer;
    width: auto;
    margin-left: 0;
}

::-webkit-input-placeholder {
    font-style: italic;
}

.main-banner .new-search .button-search i {
    --fa-animation-duration: 2s;
    animation-iteration-count: 2;
}
