.main-footer {
  height: 273px;
  display: flex;
  align-items: center;
  max-width: 1125px;
  justify-content: space-around;
}

.nav-footer {
  display: flex;
  font-weight: 500;
  font-size: 12px;
}

.nav-footer ul {
  display: flex;
  gap: 30px;
}

.nav-footer ul li a {
  color: #000000;
}

.main-footer .logo-footer {
  margin-left: 60px;
  position: relative;
  bottom: 69px;
}

.social-media {
  position: relative;
  left: 102px;
}

.social-media ul li a i {
  color: #F62C55;
}