.main-skills {
    padding: 2.9375rem 6.25rem 0;
    height: 571px; 
    background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/src/assets/images/Background%20main-skills.png);
    padding-bottom: 4.625rem;
}

.main-title.-second {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding-top: 3.3125rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.625rem;
}

.main-subtitle.-second {
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 2.875rem;
}



.main-skills .main-subtitle__skills {
    font-size: 1rem;
    line-height: 4.375rem;
    text-align: center;
    font-weight: 600;
}