.main-box {
    margin-top: 99px;
    margin-bottom: 64px;
    font-size: 46px;
    font-weight: 700;
    line-height: initial;
    display: block;
    max-width: 470px;
    
}

.main-box .main-subtitle {
    color: #FF1448;
}