.main-footer {
  height: 273px;
  display: flex;
  align-items: center;
  max-width: 1125px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-around;
}

.nav-footer {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  gap: 165px;
  flex-wrap: wrap;
}

.nav-footer ul {
  display: flex;
  gap: 30px;
}

.nav-footer ul li a {
  color: #000000;
}

.main-footer .logo-footer {
  margin-right: 20px;
  margin-left: 20px;
}


.social-media ul li a i {
  color: #F62C55;
}