.btn-arrow {
    color: transparent;
    display: block;
    position: relative;
    width: 2rem;
    height: 2rem;
    transition: all 150ms ease-out;
    border: none;
    background: transparent;
    cursor: pointer;
}

.depositions-buttons {
    display: flex;
    position: relative;
    bottom: 138px;
    margin-left: auto;
    width: fit-content;
}

.btn-arrow-left:disabled::after, .btn-arrow-left:disabled::before, .btn-arrow-right:disabled::after, .btn-arrow-right:disabled::before {
    background-color: #E2E4E8;
    cursor: default;
}


.btn-arrow:disabled {
    cursor:default;
}

.btn-arrow::before, .btn-arrow::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E2E4E8;
    transition: all 150ms ease-out;
}
  
.btn-arrow::before {
    width: 75%;
    height: 17%;
    border-radius: 10px;
    background-color: #258AFF;
  
}

.btn-arrow::after {
    width: 17%;
    height: 75%;
    border-radius: 10px;
    background-color: #258AFF;
   
}


.btn-arrow.btn-arrow-left::before, .btn-arrow.btn-arrow-left::after, .btn-arrow.btn-arrow-right::before, .btn-arrow.btn-arrow-right::after {
    top: 12.5%;
    left: 12.5%;
}

.btn-arrow.btn-arrow-left {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.btn-arrow.btn-arrow-right {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
}
  