.btn-arrow-mobile {
  color: transparent;
  display: block;
  position: relative;
  width: 2rem;
  height: 2rem;
  transition: all 150ms ease-out;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-arrow-mobile {
  background: transparent;
}

.btn-arrow-mobile:hover {
  background: none;
}


/* Desativa o background touch em dispositivos móveis */
@media (max-width: 768px) { /* Use a largura de tela apropriada para dispositivos móveis */
  /* Substitua '.seu-elemento' pelo seletor do elemento que deseja desativar o background touch */
  button, img {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Define a cor do destaque como transparente */
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -ms-tap-highlight-color: rgba(0,0,0,0);
    -o-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
    /* Outras propriedades para garantir que o elemento não tenha efeitos de destaque */
    touch-action: none; /* Desativa ações de toque no elemento */
    -webkit-user-select: none; /* Desativa a seleção do texto no elemento */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}






.depositions-buttons_mobile {
  display: flex;
  position: relative;
  bottom: 44px;
  margin-left: auto;
  width: fit-content;
  padding: 0px 30px 0 30px;
}

.btn-arrow-left-mobile:disabled::after,
.btn-arrow-left-mobile:disabled::before,
.btn-arrow-right-mobile:disabled::after,
.btn-arrow-right-mobile:disabled::before {
  background-color: #E2E4E8;
  cursor: default;
}


.btn-arrow-mobile:disabled {
  cursor: default;
}

.btn-arrow-mobile::before,
.btn-arrow-mobile::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #E2E4E8;
  transition: all 150ms ease-out;
}

.btn-arrow-mobile::before {
  width: 75%;
  height: 17%;
  border-radius: 10px;
  background-color: #258AFF;

}

.btn-arrow-mobile::after {
  width: 17%;
  height: 75%;
  border-radius: 10px;
  background-color: #258AFF;

}


.btn-arrow-mobile.btn-arrow-left-mobile {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn-arrow-mobile.btn-arrow-right-mobile {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}