/*.main-toggle:checked body {
  background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/background-dark.jpg);
}*/
/*
 body:has(#dark-preview:checked) { 
  background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/background-dark.jpg);
  
}*/

.dark {
  background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/background-dark-body.jpg);
}

.dark .main-header .menu-navigation ul .main-action {
  color:  #FFFFFF;
}

.dark .main-header .menu-list .menu-dark::content  {
  background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/list-dark.png);
}

.dark .main-banner .wrapper .main-box .main-title {
  color: #FFFFFF;
}

.dark .main-banner .wrapper .main-box .second-subtitle  {
  color: #FFFFFF;
}

.dark .new-search .button-search {
  background-color: #FF1448;
  color: #FFFFFF;
}

.dark .main-banner .wrapper .btn-color-mode-switch-inner + label {
  width:  29px;
  height: 12px;
  display: block;
  position: relative;
  background: none;
  border-radius: 20px;
  padding: 2px;
  transition: 200ms;
  cursor: pointer;
  margin-top: 88px;
  transform: rotate(90deg) translateX(-62%);
  margin-left: 50%;
  border: solid rgba(255, 20, 72, 0.3);
}

.dark .main-skills {
  background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/background-dark-skills.jpg);
}

.dark .main-skills .-second {
  color: #FFFFFF;
} 

.dark .wrapper-card figure {
  background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/background-figure-skills.jpg);
  color: #FFFFFF;
  background-size: cover;
}


.dark .find-tutor .-second {
  color: #FFFFFF;
}

.dark .wrapper-tutor figure .main-subtitle__find-tutor {
  color: #FFFFFF;
}

.dark .main-experts {
  background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/background-dark-find-tutor.jpg), url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/background-dark-tutor.jpg);
  
}

.dark .maiin-experts .learn-experts {
  color: #FFFFFF;
}

.dark .maiin-experts figure {
  background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/background-dark-find-tutor.jpg);
  color: #FFFFFF;
  background-size: cover;
}

