.find-tutor {
    background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/Eclipse.png), url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/Exclude.png), url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/Exclude.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 18% 114%, 17% 55%, 92% 5%;
    height: 992px;
    padding-top: 53px;
    box-sizing: border-box;
}

.find-tutor .main-title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
}

.find-tutor .main-subtitle {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 94px;
}

