.find-tutor {
    background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/Eclipse.png), url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/Exclude.png), url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/Exclude.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 18% 10%, 0% 95%, 0% 95%;
    display: block;
    height: 992px;
}

.find-tutor .main-title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    padding-top: 53px;
}

.find-tutor .main-subtitle {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
}

.post-requeriment {
    display: inline-block;
    width: min-content;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

.post-requeriment .main-subtitle {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
}