.main-skills {
    display: ;
    box-sizing: border-box;
    padding: 47px 100px 0; 
    background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/Background%20main-skills.png);
}