.main-toggle {
   display: none;
}

.main-toggle + label {
    width:  29px;
    height: 12px;
    background: white;
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
    margin-top: 88px;
    transform: rotate(90deg) translateX(-62%);
    margin-left: 50%;
    border: solid rgba(255, 20, 72, 0.3);

}

.main-toggle + label:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: rgba(255, 20, 72, 0.69);
    display: block;
    border-radius: 50%;
    right: unset;
    left: 2px;
    top: 2px;
    transition: 200ms;
}

.main-toggle:checked + label {
   
}

.main-toggle:checked + label:before {
    content: '';
    left: calc(100% - 15px);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    background: rgba(255, 20, 72, 0.69);
}