.main-banner {
    background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/background-banner.png);
    background-repeat: no-repeat;
    height: 481px;
    background-position: right;
    margin-top: 27px;
}

.main-banner .wrapper {
    display: contents;

}

.main-banner .new-search {
    display: contents;

}

.main-banner .new-search input {
    border-radius: 8px;
    padding: 10px 15px;
    
}

.main-banner .new-search button {
    padding: 8px;
    border-radius: 8px ;
    align-items: center;
    color: #FF1448;
    background-color: rgba(255, 174, 192, 19%);
}
