.main-depositions {
  height: 953px;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
}

.depositions-content {
  height: 840px;
  align-content: flex-end;
  display: grid;
  background-image: url(https://raw.githubusercontent.com/LeandroJSilva1989/Site-de-Ioga/master/assets/img/heart.svg), url(https://raw.githubusercontent.com/LeandroJSilva1989/Site-de-Ioga/master/assets/img/Group%2022.svg);
  background-repeat: no-repeat;
  background-position: top left, 699px 213px;
  margin-left: auto;
  margin-right: auto;
  width: 1125px;
}

.title-depositions {
  line-height: 4.375rem;
  font-weight: 400;
  font-size: 3.625rem;
  height: 210px;
  width: 552.43px;
}

.content-depositions {
  display: flex;
  flex-wrap: wrap;
}

.content-depositions img {
  border-radius: 50%;
}

.wrapper-depositions {
  display: flex;
  overflow: hidden;
  width: 66em;
}


.depositions-carousel {
  height: 392px;
  display: flex;
  gap: 4.875rem;
  justify-content: space-between;
  transition: all 1s ease-in-out;
}

.depositions-carousel__left {
  width: 300px;
  height: 283.06px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #E2E4E8;
  padding: 28px;
  line-height: 28px;
  box-sizing: border-box;
}

 .depositions-carousel__midle {
  width: 300px;
  height: 283.06px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #E2E4E8;
  padding: 28px;
  line-height: 28px;
  box-sizing: border-box;
}

.depositions-carousel__rigth{
  width: 300px;
  height: 283.06px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #E2E4E8;
  padding: 28px;
  line-height: 28px;
  box-sizing: border-box;
}

.description-depositions {
  word-break: break-all;
  margin-top: 36px;
  margin-bottom: 7px;
}

.follow a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 32px;
  color: #1D293F;
}

.depositions-options {
  display: flex;
  align-self: self-end;
  position: absolute;
  gap: 16px;
}

.depositions-options button {
 cursor: pointer;
 margin: 0 0.125em;
 position: relative;
 user-select: none;
 content: "";
 width: 24px;
 height: 5px;
 border-radius: 2px;
 background-color: #E2E4E8;
 border: none;
}

.depositions-options button.active {
  background-color: #258AFF;
}





    
  






/*  
.depositions-options a {
  display: flex;
}

.depositions-options span {
  content: "";
  width: 24px;
  height: 5px;
  border-radius: 2px;
  background-color: #E2E4E8;
}

.depositions-options .span-active {
  background-color: #258AFF;
}*/








