.main-skills {
    display: block;
    box-sizing: border-box;
    padding: 47px 100px 0;
    height: 571px; 
    background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/Background%20main-skills.png);
}

.main-skills .main-title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    padding-top: 53px;
}

.main-skills .main-subtitle {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
}