.main-banner {
    background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/background-banner.png);
    background-repeat: no-repeat;
    height: 481px;
    background-position: right;
    margin-top: 27px;
}

.main-banner .wrapper {
    display: inline-block;

}

.main-banner .main-box {
    margin-top: 99px;
    margin-bottom: 49px;
    line-height: 85px;
    font-size: 70px;
}