.main-action {
    display: inline-flex;
    color: #000000;
    margin-left: 40px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
}

.main-action::after {
    content: "";
    background-color: #FF1448;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    bottom: 216px;
    display: block;
}

.main-action a:hover::after {
    width: 100%;
}