.main-experts {
    display: flex;
    position: relative;
    height: 1121px;
    background-repeat: no-repeat no-repeat no-repeat;
    background-position: ;
    background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/Background%20main-skills.png),url(/assets/img/Exclude.svg),url(/assets/img/Group\ 22.svg) ;
}

.main-experts .main-subtitle__experts {
    font-size: 1rem;
    font-weight: 600;
    line-height: 4.375rem;
}

.main-experts .learn-experts {
    position: relative;
    height: fit-content;
    top: 50%;
    transform: translatey(-50%);
    margin-left: auto;
}

.main-experts .main-title.-third {
    display: block;
    max-width: 352px;
    height: 140px;
    font-weight: 400;
    font-size: 3.625rem;
    line-height: 4.375rem;
    margin-bottom: 2.375rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-experts .description-experts {
    display: block;
    width: 342px;
    height: 120px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 37px;
}

.main-experts .button-find {
    border-radius: 8px;
    border: none;
    color: #FF1448;
    background-color: rgba(255, 174, 192, 19%);
    width: 131px;
    height: 46px;
    cursor: pointer;
}