.main-header {
    display: flex;
    align-items: center;
    padding: 47px 100px 0; 
}

.main-header .menu-navigation {
    margin-right: auto;
}

.main-header .menu-list {
    margin-right: 16px;
    color: #000000;
}
