.main-header {
    display: flex;
    align-items: center;
    padding: 47px 100px 0;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.main-header .menu-navigation ul {
    display: flex;
}

.main-header .menu-navigation {
    margin-right: auto;

}

.main-header .menu-list {
    color: #000000;
}
