.main-box {
    margin-top: 99px;
    margin-bottom: 49px;
    font-size: 46px;
    font-weight: 700;
    line-height: initial;
    display: block;
    width: 502px;
    height: 255px;
}

.main-box .main-subtitle {
    color: #FF1448;
}