@media screen and (min-width: 600px) and (max-width: 900px) {
  .main-header {
    display: flex;
    align-items: center;
    padding: 47px 0 0;
    margin-left: 50px;
    margin-right: 50px;
  }

  .main-banner .wrapper {
    background: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/Background-banner.png);
    background-repeat: no-repeat;
    background-position: 89% 3%;
    display: flow-root;
    background-size: 46%;
    padding-left: 40px;
  }

  .main-box {
    margin-top: 52px;
    margin-bottom: 64px;
    font-size: 34px;
    font-weight: 700;
    line-height: initial;
    display: block;
    width: 502px;
    height: 191px;
  }

  .main-banner .new-search input {
    border-radius: 8px;
    padding: 8px 13px;
    outline: 0;
    font-style: italic;
    width: 25%;
  }

  .main-banner .new-search .button-search {
    align-items: center;
    border-radius: 8px;
    border: none;
    color: #FF1448;
    background-color: rgba(255, 174, 192, 19%);
    width: 119px;
    height: 44px;
    cursor: pointer;
    margin-left: 20px;
  }

  .wrapper-card {
    gap: 31px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .main-skills {
    display: block;
    height: auto;
  }



  .find-tutor {
    display: none;
  }

  .main-experts {
    display: none;
  }

  .main-depositions {
    display: none;
  }

  .main-footer {
    display: none;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1200px) {

  .main-header {
    display: flex;
    align-items: center;
    padding: 47px 100px 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .main-banner .wrapper {
    background: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/Background-banner.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right, 13rem 10%, 0% 95%;
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
  }

  .main-box {
    margin-top: 99px;
    margin-bottom: 49px;
    font-size: 2.5em;
    font-weight: 700;
    line-height: initial;
    display: block;
    width: 502px;
    height: 255px;
  }

  .wrapper-card {
    gap: 31px;
    margin-top: 46px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: auto;
    flex-wrap: nowrap;
  }

  .main-skills {
    display: block;
    padding: 2.9375rem 50px 0;
    height: 571px;
    background-image: url(https://leandrojsilva1989.github.io/Site-de-Ioga/assets/img/Background%20main-skills.png);
    padding-bottom: 4.625rem;
  }

  .depositions-content {
    height: 840px;
    align-content: flex-end;
    display: grid;
    background-image: url(https://raw.githubusercontent.com/LeandroJSilva1989/Site-de-Ioga/master/assets/img/heart.svg), url(https://raw.githubusercontent.com/LeandroJSilva1989/Site-de-Ioga/master/assets/img/Group%2022.svg);
    background-repeat: no-repeat;
    background-position: top left, 699px 213px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .depositions-buttons {
    display: flex;
    position: relative;
    bottom: 138px;
    margin-left: auto;
    width: fit-content;
    right: 1em;
  }

  .wrapper-depositions {
    display: flex;
    overflow: hidden;
    width: 59em;
  }

  .depositions-carousel {
    height: 392px;
    display: flex;
    justify-content: space-between;
    transition: all 1s ease-in-out;
    gap: 20px;
  }

  .deposition-slides {
    display: flex;
    gap: 20px;
  }
}