.wraper-card {
    display: flex;
    justify-content: space-around;
}

.wraper-card .card-learning {
    background-color: #ffffff;
    align-items: center;
    width: 304px;
    height: 348px;
    border-radius: 10px;
    padding-top: 36px;
    padding-bottom: 36px;
}