.wrapper-tutor {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    position: relative;
    width: 901px;
}

.wrapper-tutor .post-requirement {
    display: inline-block;
    width: 192px;
    height: fit-content;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    position: absolute;
}

.wrapper-tutor .demo-schedule {
    display: inline-block;
    width: 192px;
    height: fit-content;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    position: absolute;
    top: 396px;
    left: 162px;
}

.wrapper-tutor .search-select {
    display: inline-block;
    width: 192px;
    height: fit-content;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    position: absolute;
    left: 549px;
}

.wrapper-tutor .improve-skills {
    display: inline-block;
    width: 192px;
    height: fit-content;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    position: absolute;
    top: 396px;
    left: 688px;
}

.wrapper-tutor .main-subtitle {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 10px;
}

.wrapper-tutor .linha-wrapper__tutor {
    width: 145px;
    z-index: -1;
    position: absolute;
    transform: rotate(-176deg);
    left: 6rem;
    bottom: -8rem;
}

.wrapper-tutor .linha-wrapper__tutor__02 {
    width: 180px;
    z-index: -1;
    position: absolute;
    transform: rotate(-171deg);
    left: 13rem;
    top: -19rem;

}

.wrapper-tutor .linha-wrapper__tutor__03 {
    width: 117px;
    z-index: -1;
    position: absolute;
    left: 9rem;
    top: 9rem;
}

.wrapper-tutor .description-requirement {
    color: #676767;
}

.wrapper-tutor .description-schedule {
    color: #676767;
}

.wrapper-tutor .description-search {
    color: #676767;
}

.wrapper-tutor .description-skills {
    color: #676767;
}