.wrapper-tutor {
    display: flex;
    margin-left: 142
    px;
    margin-right: 125px;
    height: 800px;
}

.demo-schedule::before {
    content: '';
    box-sizing: border-box;
    border: 2px dashed #FF1448;
    transform: rotate(54deg) translateX(-68%);
    position: absolute;
    width: 372px;
    left: -131px;
    top: 120px;
}

.wrapper-tutor .post-requirement {
    display: inline-block;
    width: 192px;
    height: fit-content;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
}

.wrapper-tutor .demo-schedule {
    display: inline-block;
    width: 192px;
    height: fit-content;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    position: relative;
    top: 396px;
    left: 162px;
}

.wrapper-tutor .search-select {
    display: inline-block;
    width: 192px;
    height: fit-content;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    position: relative;
    left: 374px;
}

.wrapper-tutor .improve-skills {
    display: inline-block;
    width: 192px;
    height: fit-content;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    position: relative;
    top: 396px;
    left: 565px;
}

.wrapper-tutor .main-subtitle {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 10px;
}

.wrapper-tutor .description-requirement {
    color: #676767;
}

.wrapper-tutor .description-schedule {
    color: #676767;
}

.wrapper-tutor .description-search {
    color: #676767;
}

.wrapper-tutor .description-skills {
    color: #676767;
}