.wraper-card {
    margin-top: 46px;
    display: flex;
    justify-content: space-around;
}

.wraper-card .card-learning {
    background-color: #ffffff;
    width: 304px;
    height: 348px;
    border-radius: 10px;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wraper-card .card-expertise {
    background-color: #ffffff;
    width: 304px;
    height: 348px;
    border-radius: 10px;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wraper-card .card-experts {
    background-color: #ffffff;
    width: 304px;
    height: 348px;
    border-radius: 10px;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wraper-card .main-subtitle {
    font-weight: 600;
}