.wrapper-card {
    flex-wrap: wrap;
    width: 1152px;
    gap: 31px;
    margin-top: 46px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.wrapper-card__experts {
    margin-top: 96px;
    display: flex;
    flex-wrap: wrap;
    width: 567px;
    gap: 31px;
    height: 910px;
    margin-right: auto;
    margin-left: 2.6875rem;
}

.wrapper-card .card-learning {
    background-color: #ffffff;
    width: 304px;
    height: 348px;
    border-radius: 13px;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    padding: 19px 19px 10px 19px;
    word-spacing: 5px;
}

.wrapper-card .card-expertise {
    background-color: #ffffff;
    width: 304px;
    height: 348px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 19px 19px 10px 19px;
    word-spacing: 5px;
}

.wrapper-card .card-experts {
    background-color: #ffffff;
    width: 304px;
    height: 348px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    padding: 19px 19px 10px 19px;
    word-spacing: 5px;
}

.wrapper-card__experts .main-subtitle__experts {
    font-weight: 600;
    font-size: 16px;
}

.wrapper-card__experts .personalized-learning {
    background-color: #ffffff;
    max-width: 268px;
    height: 407px;
    font-size: 14px;
    padding: 16px 24px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    line-height: 1.25rem;
}

.wrapper-card__experts .fitness-trainer {
    background-color: #ffffff;
    max-width: 268px;
    height: 407px;
    font-size: 14px;
    padding: 16px 24px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    top: 113px;
    line-height: 1.25rem;
}

.wrapper-card__experts .instrument-learning {
    background-color: #ffffff;
    max-width: 268px;
    height: 407px;
    font-size: 14px;
    padding: 16px 24px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    line-height: 1.25rem;
}

.wrapper-card__experts .it-skills {
    background-color: #ffffff;
    max-width: 268px;
    height: 407px;
    font-size: 14px;
    padding: 16px 24px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    bottom: -113px;
    display: grid;
    align-items: center;
    line-height: 1.25rem;
}

.wrapper-card__experts img {
    margin-left: auto;
    margin-right: auto;
}