.wrapper-tutor {
    display: block;
    padding-left: 119px;
    padding-right: 119px;
}

.wrapper-tutor .post-requirement {
    display: inline-block;
    width: min-content;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}