.wrapper-card {
    margin-top: 46px;
    display: flex;
    justify-content: space-around;
    width: 901px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.wrapper-card .card-learning {
    background-color: #ffffff;
    width: 304px;
    height: 348px;
    border-radius: 10px;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    padding: 19px 19px 10px 19px;
    word-spacing: 5px;
}

.wrapper-card .card-expertise {
    background-color: #ffffff;
    width: 304px;
    height: 348px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 19px 19px 10px 19px;
    word-spacing: 5px;
}

.wrapper-card .card-experts {
    background-color: #ffffff;
    width: 304px;
    height: 348px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    padding: 19px 19px 10px 19px;
    word-spacing: 5px;
}

.wrapper-card .main-subtitle {
    font-weight: 600;
    font-size: 16px;
}

.wrapper-card .personalized-learning {
    background-color: #ffffff;
    width: 268px;
    height: 407px;
    font-size: 14px;
    padding: 16px 24px;
    border-radius: 10px;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wrapper-card .fitness-trainer {
    background-color: #ffffff;
    width: 268px;
    height: 407px;
    font-size: 14px;
    padding: 16px 24px;
    border-radius: 10px;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wrapper-card .instrument-learning {
    background-color: #ffffff;
    width: 268px;
    height: 407px;
    font-size: 14px;
    padding: 16px 24px;
    border-radius: 10px;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wrapper-card .it-skills {
    background-color: #ffffff;
    width: 268px;
    height: 407px;
    font-size: 14px;
    padding: 16px 24px;
    border-radius: 10px;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}